services:
  crypto-mesh-db:
    image: mongo:latest
    container_name: crypto-mesh-db
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    networks:
      - cryptomesh-net

  crypto-mesh-broker:
    image: rabbitmq:4.0-management
    container_name: crypto-mesh-broker
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT:-15672}:15672"
    restart: unless-stopped

  crypto-mesh-api:
    build: .
    image: leogarcia10/cryptomesh:api-0.0.1a0
    container_name: crypto-mesh-api
    depends_on:
      - crypto-mesh-db
      - crypto-mesh-broker
    ports:
      - "${CRYPTO_MESH_PORT:-19000}:19000"
    environment:
      CRYPTO_MESH_HOST: ${CRYPTOMESH_HOST:-0.0.0.0}
      CRYPTO_MESH_PORT: ${CRYPTO_MESH_PORT:-19000}
      MONGO_DATABASE_NAME: ${MONGODB_DATABASE_NAME:-cryptomesh}
      MONGODB_URI: ${MONGODB_URI:-mongodb://crypto-mesh-db:27017/cryptomesh}
      MICTLANX_LOG_PATH: "/app/logs"
    volumes:
      - cryptomesh-vol:/app
    restart: unless-stopped
    networks:
      - cryptomesh-net

  mictlanx-summoner-0:
    image: nachocode/mictlanx:summoner
    container_name: mictlanx-summoner-0
    hostname: mictlanx-summoner-0
    privileged: true
    ports:
      - 15000:15000
    environment:
      - USER_ID=1001
      - GROUP_ID=1002
      - DOCKER_GID=1001
      - BASE_PATH=${BASE_PATH-/app/mictlanx}
      - BIN_NAME=summoner
      - NODE_ID=mictlanx-summoner-0
      - NODE_PORT=15000
      - IP_ADDRESS=mictlanx-summoner-0
      - SERVER_IP_ADDR=0.0.0.0
      - LOG_PATH=${BASE_PATH-/app/mictlanx}/log
      - LOCAL_PATH=${BASE_PATH-/app/mictlanx}/local
      - DATA_PATH=${BASE_PATH-/app/mictlanx}/data
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # - mictlanx-summoner-0:/mictlanx
    networks:
      - cryptomesh-net
volumes:
  mongo-data:
  cryptomesh-vol:
networks:
  cryptomesh-net:
